# ======================
# Python cache
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Virtual environment
# ======================
venv/

# ======================
# Environment variables
# ======================
.env

# ======================
# Data (NEVER commit datasets)
# ======================
data/
data/raw/
data/processed/

# ======================
# Jupyter Notebook checkpoints
# ======================
.ipynb_checkpoints/

# ======================
# MLflow / experiments
# ======================
mlruns/
mlflow.db

# ======================
# Model artifacts
# ======================
*.pkl
*.db

# ======================
# OS files
# 

.DS_Store
Thumbs.db